* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.button {
  border: 2px black solid;
  background-color: steelblue;
  border-right: 2px solid yellow;
  width: 80%;
  height: 100px;
}

.pokemon-list {
  display: grid;
  list-style: none;
}

.input-wrapper {
  display: grid;
  grid-template-rows: 1fr;
  background-color: yellowgreen;
  align-items: center;
  justify-content: center;
  height: auto;
}

label {
  display: inline-block;
  min-width: 75px;
}

.error-message {
  color: red;
  font-size: 0.8em;
}

#register-form {
  text-align: center;
}

@media (max-width: 400px) {
  .pokemon-list {
    height: 100%;
    background-color: yellowgreen;
  }
}

@media (min-width: 400px) {
  .pokemon-list {
    width: 100%;
    height: auto;
    background-color: navy;
  }
}

@media (min-width: 1440px) {
  .pokemon-list {
    background-color: gray;
    height: 100%;
  }
}
